body {background-color: #607D99}

#game {
	background-color: #3B3B3B;
	float: left;
}

#statusPanel {
	visibility: hidden;
	height: 100%;
	width: 100%;
	text-align: center;
}

#instructions {
	display: inline-block;
	padding-left: 20px;
	width: 30%;
	font-family: Tahoma;
}

h2 {margin: 0;}

h4 {margin: 15px 0 5px;}